[runtime]
environment="$RUNTIME_ENVIRONMENT||development"

[log]
level="$LOG_LEVEL||debug"

[server]
port="8443"
readTimeout="5s"
idleTimeout="5s"
writeTimeout="10s"

[grpc]
addr="$GRPC_ADDR||localhost:50051"

[storefront-api]
authKey="$STOREFRONT_API_AUTHKEY||valid-x-api-key"

[shoptree]
authKey="$SHOPTREE_AUTHKEY||valid-x-client-api-key"

[mileapp]
authKey="$MILEAPP_AUTHKEY||valid-x-api-key"

[midtrans]
serverKey="$MIDTRANS_SERVER_KEY||server-key"
chargeURL="$MIDTRANS_CHARGE_URL||http://localhost/charge-url"
getStatusURL="$MIDTRANS_GET_STATUS_URL||https://api.sandbox.midtrans.com/v2/%s/status"

[datadog]
agentAddr="$DATADOG_AGENT_ADDR||localhost:8126"
